* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.icons {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    list-style: none;
}

ul button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

ul .button-2 {
    background-color: #FF6600;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 20px 35px;
    border-radius: 12px;
}

.footer-flex {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.footer-text h1 {
    font-size: 60px;
    font-weight: 850;
    color: #0B1B35;
    margin-top: -188px;
}

.footer-text p {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;
}

.footer-text button {
    background-color: #FF6600;
    color: #FFFFFF;
    border: none;
    padding: 15px 20px;
    border-radius: 12px;
    margin-top: 18px;
}

.text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: 300;
    color: #0B1B35;
}

.box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    text-align: center;
}

.box {
    width: 280px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 20px 20px;
    border-radius: 12px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.box img {
    margin-top: 12px;
}

.box h1 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.box p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.box button {
    background-color: #FF6600;
    color: #FFFFFF;
    border: none;
    padding: 15px 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.text-2 {
    margin-top: 70px;
    margin-bottom: 90px;
    text-align: center;
}

.text-2 p {
    color: #8A898E;
    font-size: 14px;
    font-weight: 700;
    margin-top: 12px;
}

.text-2 h1 {
    color: #0B1B35;
    font-weight: 700;
    font-size: 40px;
}

.humans-flex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}

.humans-box .img-1 {
    border-radius: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 40%;
    height: 40%;
    margin-bottom: 50px;
}

.humans-box {
    padding: 10px 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 300px;
    border-radius: 12px;
}

.humans-box h3 {
    color: #1E0E62;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.humans-box p {
    font-size: 14px;
    font-weight: 700;
    color: #15143966;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.text-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 280px;
    margin-bottom: 70px;
}

.text {
    color: #1E0E62;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    ul {
        justify-content: space-around;
    }
    .footer-text h1 {
        font-size: 55px;
        font-weight: 700;
    }

    .footer-flex {
        justify-content: space-between;
    }
    .box-flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .humans-flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 468px) {
    li {
        display: none;
    }
    .icons {
        display: block;
    }
    ul {
        gap: 30px;
        flex-wrap: wrap;
    }
    .btns {
        display: none;
    }
    .footer-flex {
        flex-wrap: wrap;
        padding-top: 190px;
        text-align: center;
    }
    .footer-img img {
        width: 140%;
        height: 140%;
        margin-left: -60px;
        margin-top: 25px;
        padding: 15px 10px;
    }
    .humans-flex {
        gap: 80px;
    }
    .text-flex {
        flex-wrap: wrap;
        gap: -20px;
        margin-bottom: -50px;
        text-align: center;
    }
}